<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.tymer.daemon</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>/Users/tyler.fowle/Repos/tymer/daemon/manager.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>10</integer>
    <key>StandardOutPath</key>
    <string>/Users/tyler.fowle/Repos/tymer/daemon/logfile.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/tyler.fowle/Repos/tymer/daemon/errorfile.log</string>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
